@import "tailwindcss";

.custom-border-box {
    position: relative;
    border-radius: 1.5rem; /* Tailwind's rounded-3xl */
    z-index: 1;
    overflow: hidden;
  }
  
  .custom-border-box::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom, #ffffff 5%, transparent 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
  